<div id="<%= dom_id skater %>">
  <div class="card">
    <div class="card-header">
      <%= skater.name %>
    </div>
    <div class="card-body">
      Reserved for future use

    </div>
  </div>
</div>
