<p style="color: green"><%= notice %></p>

<h1>Skaters</h1>

<div id="skaters" class="container">
  <% @skaters.in_groups_of(3, false).each do |group| %>
    <div class="row">
      <% group.each do |skater| %>
        <div class="col-md-3 col-lg-3">
          <%= render skater %>
            <div>
              <%= link_to "Show this skater", skater %>
            </div>
        </div>
        
      <% end %>
    </div>
  <% end %>
</div>



<%= link_to "New skater", new_skater_path %>
