<div id="<%= dom_id competition %>">
  <div class="card">
    <div class="card-header">
      <%= competition.name %>
    </div>
    <div class="card-body">
      For Future Use
    </div>
  </div>
</div>
